.spinner{
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.spinner div {
  width: 10px;
  height: 10px;
  background-color: #2d2d2d44;
  border-radius: 50%;
}

.spinner div:first-child {
  animation: spinner 0.5s linear 0s infinite;
}

.spinner div:nth-child(2) {
  animation: spinner 0.5s linear 0.1s infinite;
}

.spinner div:last-child {
  animation: spinner 0.5s linear 0.2s infinite;
}

@keyframes spinner {
  0% {
    transform: translateY(0%);
    background-color: #4481c3;
  } 50% {
    transform: translateY(50%);
  } 100% {
    transform: translateY(0%);
  }
}